<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/immagine1.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/immagine2.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/immagine3.jpg" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/immagine4.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/immagine5.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/immagine6.jpg" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/immagine7.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/immagine8.jpg" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="/assets/immagine9.jpg" class="img-fluid">
      </div>
    </div>
  </div>
